[submodule "submodules/ontology-management-base"]
	path = submodules/ontology-management-base
	url = https://github.com/ASCS-eV/ontology-management-base.git
[submodule "submodules/openscenario-api"]
	path = submodules/openscenario-api
	url = https://github.com/RA-Consulting-GmbH/openscenario.api.test.git
[submodule "submodules/asam-openx-assets"]
	path = submodules/asam-openx-assets
	url = https://github.com/Persival-GmbH/asam-openx-assets.git
